<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>悪徳行政 神戸市を滅ぼす会</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
    .chat {
    font-size: 140%;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 220px;
    text-align: center;
    }

    body {
        background:rgb(198, 255, 255);
        max-width: 100%;
    }

    .center {
    background: linear-gradient(rgba(123, 236, 253, 0.9), rgba(123, 236, 253, 0.9));
    background-size: cover;
    height: 240px;
    padding: 40px;
    position: relative;
    padding: 10px;
    }

    .page1{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 400px;
        text-align: center;
        padding: 10px;
    }

    .test {
    background-size: cover;
    height: 245px;
    padding:10px;
    position: relative;
    font-size: 18px;
    background: white;
    margin-top: 70px;
    }



  </style>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-info">
        <a class="navbar-brand" href="/">悪徳行政 神戸市を滅ぼす会</a>
    </nav>

   
    <div class="center">
        <div class="page1">
            <div class="test container">
                <h1>ノーログ宣言</h1>
                <p>下記のログ以外取集しておりません</p>
                <p>ご自由にお楽しみください。</p>
                <form action="/write" method="get">
                    <div class="row justify-content-center form-group">
                        <div class="col-xs-2">
                        <input required class="form-control" type="text" name="text">
                            <div style="margin: 10px;"> 
                                <button type="submit" class="btn btn-primary mx-auto">送信</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="chat">
                {% for i in message %}
                <p>{{ i[0] }}    {{i[1]}} </p>
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>

<!-- https://www.tagindex.com/stylesheet/text_font/font_size.html -->
<!-- https://kiyaku.jp/hinagata/sns.html-->
<!-- https://codezine.jp/article/detail/8072 -->
<!-- http://open.shonan.bunkyo.ac.jp/~ohtan/kouza/css-margin.html -->
<!-- https://miyacle.com/2020/05/bootstrap%E3%82%92%E4%BD%BF%E3%81%A3%E3%81%A6%E3%83%98%E3%83%83%E3%83%80%E3%83%BC%E3%81%A8%E3%83%95%E3%83%83%E3%82%BF%E3%83%BC%E3%82%92%E4%BD%9C%E3%81%A3%E3%81%9F%E8%A9%B1/ -->